:root {
  --primary-bgcolor: #212121;
  --secondary-bgcolor: #393939;
  --line-color: #ababab;
}

body {
  background-color: var(--primary-bgcolor);
  font-family: Verdana, sans-serif;
}
.news-aggregator-title {
  width: 15rem;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 3px;
  margin: auto;
  margin-top: 5rem;
}
.news-aggregator-title a:link {
  color: #fff;
  text-decoration: none;
}

.search-bar {
  margin: 10px;
}
.search-bar hr {
  margin: 2px;
  color: var(--line-color);
}

.search-bar input {
  background-color: var(--primary-bgcolor);
  color: #fff;
  border: none;
  margin-left: 5px;
  font-size: 0.8em;
  width: 12rem;
}
.not-found {
    color: #fff;
    height: 30px;
}
#news-articles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.article {
  background-color: var(--secondary-bgcolor);
  width: 250px;
  height: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  color: white;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 1em;
  box-shadow: 5px 5px #f1f1f1;
}

.article-img {
  width: 100%;
  height: 250px;
  border-radius: 5%;
}

.article-title {
  height: 120px;
  font-size: medium;
  margin: 5%;
}
.article-description {
  height: 200px;
  font-size: small;
  margin: 5%;
}

.article-author{
    height: 30px;
    margin: 1rem;
}
.article-link {
  height: 200px;
  color: dimgray;
}


